@namespace OneToMany_task.ViewModels.Products.ProductVM
@using OneToMany_task.Helpers


@model Paginate<ProductVM>

<div class="container mt-5">
    <div class="create-product">
        <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-success text-white" style="font-size:30px;width:100px;">+</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Datas)
            {
                <tr>
                    <td>
                        <img src="~/img/@item.Image" style="width:100px;height:100px" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>Category</td>
                    <td>
                        <a class="btn btn-info text-white" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                        <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <form class="form-sample d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger text-white">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="paginate-area">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.TotalPage; i++)
                 {
                    <li class="page-item @(Model.CurrentPage==i ? "disabled": "")"><a class="page-link @(Model.CurrentPage==i ? "paginate-active": "")" asp-action="Index" asp-route-page="@i">@i</a></li>
                 }
                <li class="page-item @(Model.HasNext ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
